<app-card-info id="goto"></app-card-info>
<div class="active">
    <h1 class="active__head" style="font-size: 3rem;">Active Rooms (3)</h1>
</div>

<div class="spinerConteiner">
    <div class="spinerConteiner_spiner">
        <mat-spinner *ngIf="show_Spiner"></mat-spinner>
    </div>
</div>

<div class="room_room" *ngIf="show_Room && servis.leaveauction == false">
    <app-rooms></app-rooms>
</div>

<div class="conteiner">
    <div class="room" *ngFor="let room of servis.rooms; let i = index">
        <div class="room_class">
            <h4>Business Class</h4>
            <p><strong>Room no. {{ room.room }}</strong></p>
        </div>
        <div class="room_price">
            <h3>Current Price</h3>
            <p><strong>$ {{ room.price }}</strong></p>
            <h4>Total Bids</h4>
            <p><strong>{{ room.bids }}</strong></p>
        </div>
        <div class="room_time">
            <h4>End date and Time</h4>
            <!-- Ovde nesto uradi za text ne mogu reasponsive -->
            <p><strong>{{ room.time }}</strong></p> 
        </div>
        <div class="room_join">
            <button mat-flat-button color="accent" (click)="onShowRoom(i)">Join</button>
        </div>
    </div>
</div>

