<mat-card class="card-content">
    <div class="icon">
        <img class="icon__image" src="assets/plane.svg">
    </div>

    <div class="flight_info">
        <p>Economy</p>
        <h3 style="font-weight: 600;">{{info[3].fromPlace}} to {{info[3].toPlace}}</h3>
        <p>{{info[3].time}}</p>
    </div>

    <div class="flight_time">
        <div class="flight_time-l">
            <h4>{{info[3].departureTime}}</h4>
            <p>JFK</p>
            <div class="gornja"></div>
        </div>
        <div class="hack__1"></div>
        <div class="flight_time-r">
            <div class="donja"></div>
            <h4>{{info[3].arrivalTime}}</h4>
            <p>DUB</p>
        </div>
    </div>

    <div class="flight_number">
        <h3 class="flight_number-title" style="text-align: center; font-weight: 600;">EI 104</h3>
        <p>Operated by Aer Lingus</p>
    </div>
</mat-card>