
<div class="center-content">
    <mat-card class="card-content">
        <div class="icon">
            <img class="image" src="assets/plane.svg">
            <!---<mat-icon aria-hidden="false">airplanemode_active</mat-icon>-->
        </div>

        <div class="flight_info">
            <p>Economy</p>
            <p>New York to Dublin</p>
            <p>Tue, 15 Dec 2020</p>
        </div>

        <div class="flight_time">
            <p>17:30 -------- 04:45</p>
            <p>JFK -------- Dub</p>
        </div>

    </mat-card>
</div>