<div class="room">
    <!-- Header -->
    <div class="header">
        <h1 class="header__h1">Active Users</h1>
        <h1 class="header__h1 header__h1--m ">Room {{ servis.rooms[servis.index].room }}</h1>
        <button mat-raised-button color="warn" class="header__btn" (click)="onLeaveAuction()">Leave Auction</button>
    </div>

    <!-- Room Content -->
    <div class="content">
        <div class="leftSide">
            <div class="leftSide__user">
                <p class="leftSide__paragraf">{{servis.user[0].name}}</p>
                <p class="leftSide__paragraf">Adult - {{servis.user[0].born}}</p>
                <p class="leftSide__paragraf leftSide__paragraf--m">7 More Users...</p>
            </div>
            <ul class="leftSide__list">
                <p>Business Class Offer:</p>
                <li class="leftSide__list-item" *ngFor="let item of listPackage">&rsaquo; {{item}}</li>
            </ul>
        </div>
        <div class="rightSide">
            {{ servis.current_max_Bid}}
        </div>
    </div>

    <!-- Time -->
    <div class="time">
        <h2 class="time__h2">Time left for auction:</h2>
        <p class="time__timeLeft">{{ servis.rooms[servis.index].time }}</p>
    </div>

    <!-- Bid-manual -->
    <div class="bid-manual">
        <form class="bid-manual-form" (ngSubmit)="onSubmit(f)" #f="ngForm">
            <mat-form-field class="example-full-width">
                <mat-label>Enter a new price</mat-label>
                <input matInput #manuelValue ngModel name="name">
            </mat-form-field>
            <button mat-raised-button color="manual" class="header__btn header__btn--form" type="submit">Bid now</button>
        </form>
    </div>

    <!-- Bid-automatic -->
    <div class="bid-automatic">
        <p class="leftSide__paragraf">Automatic bid:</p>
        <form class="bid-automatic-form" (ngSubmit)="onSubmit(f)" #f="ngForm">
            <mat-slide-toggle (click)="onAutoSlide()">Active me!</mat-slide-toggle>
            <mat-form-field class="example-full-width">
                <mat-label>Max bid price</mat-label>
                <input matInput #manuelValue ngModel name="autoMaxBid">
            </mat-form-field>
            <mat-form-field class="mat-form-field" appearance="fill">
            <mat-label>Steps to increment</mat-label>
            <mat-select ngModel name="autoNameBid">
                <mat-option *ngFor="let stepInc of stepIncrement" [value]="stepInc.value">
                    {{stepInc.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        </form>
    </div>
</div>