<footer>
    <div class="footer-top">
        <div>
            <p>Conditions of Carriage Imprint</p>
        </div>
        <div>
            <p>Terms of Service</p>
        </div>
        <div>
            <p>Privacy Statement</p>
        </div>
        <div>
            <p>Acceptable Usage Policy</p>
        </div>
    </div>
    
    <div class="footer-limit">
        <div class="copyright">
            <p>Copyright &#169; Aer Lingus Group DAC and Aer Lingus Ltd. All rights reserved.</p>
        </div>
        <div class="blank"></div>
        <div class="icons">
            <img class="icons__iconOne" src="../../../assets/logoIAG.png" alt="IAG logo">
            <img id="iconTwo" class="icons__icontwo" src="../../../assets/skytraxLogo.png" alt="Skytrax logo">
        </div>
    </div>
    
</footer>