<header>
    <div class="navigation">
        <!-- Click will send him to homepage -->
        <div class="navigation__logo" (click)="homeClick()">
            
        </div>
        <div class="navigation__menu">
            <button class="navigation__menu--btnLogin" [matMenuTriggerFor]="logInMenu"  (click)="logIn()" mat-stroked-button color="primary">Login</button>
            <mat-menu class="navigation__menu--matMenu" #logInMenu xPosition="before">
                    <form class="navigation__menu--form">
                         <mat-form-field  class="navigation__menu--email" appearance="outline" (click)="$event.stopPropagation();">
                            <mat-label for="email">Email</mat-label>
                            <input type="email" matInput name="email">
                          </mat-form-field>
                          <mat-form-field class="navigation__menu--password" appearance="outline" (click)="$event.stopPropagation();">
                            <mat-label>Password</mat-label>
                            <input type="password" matInput name="password">
                          </mat-form-field>
                          <small matTooltip="Check your email for password" (click)="$event.stopPropagation();"><a href="#">What is my password?</a></small>
                          <button class="navigation__menu--submit" type="submit" mat-stroked-button color="primary">Submit</button>
                    </form>
            </mat-menu>
        </div>
        
    </div>
</header>
<div class="hack"></div>